# Node dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native / Android / iOS
android/
ios/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
expo-debug.log*

# Environment variables
.env
.env.*.local
.env.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# Example / template apps
app-example/

# VSCode
.vscode/
